/* Template styling */

html,
body {
  margin: 0;
}

body {
  /* background: url("../images/dark-linen.png") repeat; */
  font-family: "Roboto", sans-serif;
}

div#app {
  display: grid;
  /* max-width: 1400px; */
  margin: 0 auto;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "header header header"
    "menu menu menu"
    "container container container"
    "footer footer footer";
  min-height: 100vh;
}

/* header {
  grid-area: header;
  height: 200px;
  background: url("../images/banner-top.png");
} */

nav {
  grid-area: menu;
  height: 60px;
  /* background: url("../images//banner-bottom.png"); */
  background-color: rgb(117, 117, 117);
  font-size: 1.75em;
  line-height: 60px;
  padding: 20px;
  color: black;
  display: flex;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  color: rgb(115, 247, 205);
}

#container {
  grid-area: container;
  background-color: black;
  padding: 20px;
  color: white;
}

footer {
  grid-area: footer;
  padding: 10px;
  text-align: center;
  color: #ccc;
  background-color: black;
}

.hidden {
  display: none;
}

a.active {
  color: white;
  font-weight: bold;
}

input#search {
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border: 1px solid gray;
  /* border-radius: 4px; */
  height: 24px;
  flex: 1 0;
  margin: auto;
}

span.favorite {
  padding-left: 10px;
  cursor: pointer;
}

span.favorite.active {
  color: rgb(255, 0, 149);
}

span.favorite:hover {
  color: rgb(187, 135, 255);
}

/* End template styling */

/* Movie Detailed styles */
.movie-title {
  color: rgb(187, 135, 255);
  margin: 30px;
}

.movie-detailed-container {
  margin: 30px;
  background-color: rgb(14, 14, 16);
  border: 1px solid rgb(82, 62, 83);
  display: flex;
}

.movie-detailed-container img {
  margin: 40px 10px 40px 40px;
  width: 330px;
  float: left;
}

.movie-info-container {
  clear: right;
  margin: 20px 20px 20px 10px;
  border-left: 1px solid rgb(82, 62, 83);
  padding: 60px 20px;
  font-size: 23px;
}

.movie-info-container div {
  padding: 15px;
  color: rgb(208, 208, 208);
}


.movie-simple {
  display: block;
  float: left;
  align-items: center;
  width: min-content;
  height: min-content;
  background-color: #0e0f10;
  text-align: center;
  margin: 10px;
}

.image-display  {
  border: 0px;
  border-radius: 6px;
}

#movie-simple h2 {
  font-size: var(--title-font-size);
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}


#movies .content {
  display: flex; 
  flex-wrap: wrap;
  justify-content: justify;
}

.headline {
  color: #af7eed;
  font-size: large;
}

/* #movie-simple>span {
  width: 200px;
  height: 400px;
}

#movie-simple img {
  display: flex;
} */

#movie-simple h3 {
  color: white;
}

.single-category {
  background-color: rgb(25, 25, 25);
  border-radius: 6px;
  box-shadow: 5px 5px 5px #af7eed;
  width: 200px;
  display: inline-block;
  text-align: center;
  align-items: center;
  text-align: center;
  border: solid 1px white;
  justify-content: space-around;
  margin: 20px;
}

.h1style {
  color: rgb(187, 135, 255);
}

.movies-count {
  color: white;
  font-size: 20px;
}

#movies h1 {
  color: rgb(187, 135, 255);
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(187, 135, 255);
}

.btn {
  background-color: rgb(25, 25, 25);
  color: rgb(187, 135, 255);
  border-radius: 10px;
  height: auto;
  margin-bottom: 14px;
  height: 30px;
  width: 110px;
}

.btn:hover {
  border-color: rgb(187, 135, 255);
  cursor: pointer;
}

.btn:active {
  background-color: rgb(187, 135, 255);
  color: white;
}

#categories {
  align-items: auto;
  text-align: center;
  justify-content: center;
}

#home {
  left: 50%;
  top: 50%;
  align-items: left;
  text-align: left;
  justify-content: center;
}

.bullet {
  padding-left: 0;
  margin: auto;
  padding: 10px;
  width: 300px;
  align-items: auto;
  text-align: center;
  justify-content: center;
}

li {
  list-style-position: inside;
  text-align: left;
}

#movie-simple>h2 {
  color: rgb(187, 135, 255);
}

/* Add your styles below */