::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-track:hover {
  background-color: black;
}

.gif-simple {
  display: block;
  position: relative;
  /* float: left; */
  align-items: center;
  width: min-content;
  height: min-content;
  background-color: #0e0f10;
  text-align: center;
  margin: 10px;
}

.image-display {
  border: 0px;
  border-radius: 6px;
}

a {
  text-decoration: none;
  color: rgb(187, 135, 255);
}

li {
  list-style-position: inside;
  text-align: left;
}

#avatar {
  height: 140px;
  width: 140px;
}

.description-container {
  color: white;
}

h2 {
  padding-left: 10px;
}